

H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:19px;}
H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:19px;}
H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:19px;}
BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:orange;}
B {font-family:Tahoma,Arial,sans-serif;color:red;background-color:#525D76;}
P {font-family:Tahoma,Arial,sans-serif;background: url(https://html5book.ru/wp-content/uploads/2015/07/background39.png);color:black;font-size:19px;}
/*P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:19px;}*/
A {color : black;}
A.name {color : black;}
HR {color : #525D76;}

table {
    width: 100%;
    empty-cells: show;
    border-collapse: collapse;
    table-layout: fixed;
}

  table.files
  {
  	border: 1px solid black;
  }

  
  td.page-title {
    text-align: center;
    vertical-align: top;
    font-family:sans-serif,Tahoma,Arial;
    font-weight: bold;
    background: yellow;
    color: black;
  }
  td.title {
    text-align: left;
    vertical-align: top;
    font-family:sans-serif,"Times New Roman";
    font-style:normal;
    font-weight: bold;
    background: #b3ccc6;
  }
td.header-left {
    text-align: center;
    vertical-align: middle;
    font-family:sans-serif,Tahoma,Arial;
    font-weight: normal;
    background: #A9A6A9;
}
  td.header-center {
    text-align: right;
    vertical-align: middle;
    font-family:sans-serif,Tahoma,Arial;
    font-weight: bold;
    background: #fff1ff;
  }

  td.row-left {
    text-align: right;
    vertical-align: middle;
    font-family:sans-serif,Tahoma,Arial;
    color: black;
    background: white;
  }
td.row-center {
    text-align: center;
    vertical-align: middle;
    font-family:sans-serif,Tahoma,Arial;
    color: black;
    background: white;
}
  td.row-right {
    text-align: right;
    vertical-align: middle;
    font-family:sans-serif,Tahoma,Arial;
    color: black;
    background: white;
  }
  td.row-center-mono {
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
    color: black;
    background: white;
  }
  
  th {
    text-align: right;
    vertical-align: top;
    font-family:sans-serif,Tahoma,Arial;
    font-weight: bold;
    background: #FFDC75;
  }
  td {
    text-align: right;
    vertical-align: middle;
    font-family:sans-serif,Tahoma,Arial;
    color: black;
    border: 1px solid black;
    background: white;
    word-wrap: break-word;
  }
  

